/* &display=swap */
/* &display=swap&subset=cyrillic-ext */

@import url("https://fonts.googleapis.com/css?family=Lora:regular,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:regular,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruslan+Display&display=swap');

@font-face {
	font-family: 'Gilroy';
	src: url('Gilroy-SemiBold.woff2') format('woff2'),
		url('Gilroy-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Gilroy';
	src: url('Gilroy-LightItalic.woff2') format('woff2'),
		url('Gilroy-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Gilroy';
	src: url('Gilroy-Regular.woff2') format('woff2'),
		url('Gilroy-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}


/* Обнуление */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
body {
	color: #9a9a9a;
	font-size: 18px;
	line-height: 23px;
	font-family: "Lato", sans-serif;
}
/*=======================================*/
body {
	padding: 15px;
}
.title {
	font-family: 'Ruslan Display', cursive;
	line-height: 80px;
	color: rgb(170, 60, 60);
	font-size: 62px;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.308);
}
.subtitle {
	font-family: 'Pacifico', cursive;
	font-size: 28px;
	color: rgb(113, 33, 189);
	text-align: center;
	line-height: 50px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.308);
}
/* ---------------------- */
a {
	font-size: 20px;
}
span {
	font-family: Lato;
	font-style: italic;
	font-size: 20px;
	color: rgb(255, 80, 80);
	text-decoration: underline;
}
.marked-span {
	color: rgb(46, 127, 133);
}
.marked-span-2 + span {
	font-family: Lora;
	font-size: 32px;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
	color: rgb(151, 151, 250);
	text-shadow: -3px 2px 3px rgb(0, 0, 0);
}
.marked-span-3 ~ span {
	color:rgb(46, 127, 133);
}
.text .marked-span-4 {
	font-family: 'Gilroy';
	font-weight: 600;
	color:rgb(54, 19, 19);
	font-size: 26px;
	text-decoration: line-through;
	text-shadow: 1px 2px 2px rgb(184, 181, 3);
}
.marked-span-5 {
	font-family: "Lato", sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: overline;
	text-shadow: 1px -2px 0px rgb(0, 0, 0);
}
.footer ul {
	text-align: right;
}




